<template>
  <table>
    <tr>
        <th colspan="2" class="title">{{ name }}</th>
    </tr>
    <tr>
        <th>
            Tipe
        </th>
        <th>
            Penjelasan
        </th>
    </tr>
    <tr>
        <td>
            <span class="badge badge-primary">
                Integer
            </span>
        </td>
        <td>
            <p>
                Data ini memiliki karkateristik integer.
            </p>
        </td>
    </tr>
  </table>
</template>

<style>
    table {
        width: 100%;
    }
    .title{
        font-size: 1.5em;
        font-weight: bold;
        text-align: center;
        color: gold;
    }
    th {
        text-align: left;
    }
    td {
        text-align: left;
    }
</style>

<script>
  export default {
    data() {
      return {
        name: 'variable'
      }
    }
  }
</script>
